<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
      
        <!-- Navbar -->
        <header class="site-navbar js-sticky-header site-navbar-target" role="banner">
    
            <div class="container">
              <div class="row align-items-center">
                
                <div class="col-6 col-xl-2">
                  <h1 class="mb-0 site-logo"><a href="/">Izbassar<span class="text-primary">.</span> </a></h1>
                </div>
      
                <div class="col-12 col-md-10 d-none d-xl-block">
                  <nav class="site-navigation position-relative text-right" role="navigation">
      
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                      <li><a href="" class="nav-link"></a></li>
                      <li class="has-children">
                        <a href="/" class="nav-link"><%= translations.home %></a>
                      </li>
                    <li class="has-children">
                        <a href="/blog" class="nav-link"><%= translations.blog %></a>
                    </li>
                    
                    <select name="language" id="language" onchange="changeLanguage(this.value)">
                        <option value="en" <%= language === 'en' ? 'selected' : '' %>>English</option>
                        <option value="ru" <%= language === 'ru' ? 'selected' : '' %>>Russian</option>
                    </select>
                    </ul>
                  </nav>
                </div>
      
      
                <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>
      
              </div>
            </div>
            
          </header>
        <!-- Navbar -->
      
        <!-- Carousel wrapper -->
        <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-carousel-init>
          <!-- Indicators -->
          <div class="carousel-indicators">
            <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
            <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
            <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
          </div>
      
          <!-- Inner -->
          <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                  <div class="text-white text-center" data-mdb-theme="dark">
                    <br><br><br><br>
                    <h2><%= translations.signIn %></h2>
                  </div>
                </div>
              </div>
            </div>
      </header>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
					<form action="/login" method="post">
                        <div class="login100-pic js-tilt" data-tilt>
                            <img src="images/img-01.png" alt="IMG">
                        </div>
        
                        <span class="login100-form-title">
                            Member Login
                        </span>

                        <% if (typeof message !== 'undefined') { %>
                            <div class="alert alert-danger">
                              <%= message %>
                            </div>
                        <% } %>

						<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
							<input class="input100" type="text" name="username" placeholder="<%= translations.username %>" required>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</span>
						</div>
	
						<div class="wrap-input100 validate-input" data-validate = "Password is required">
							<input class="input100" type="password" name="password" placeholder="<%= translations.password %>" required>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
						</div>

                        <div class="container mt-4">
                            <div class="alert alert-info" role="alert">
                                <strong>Admin Access:</strong> Use username <code>admin</code> and password <code>admin123</code> for administrator login.
                            </div>
                        </div>
						
						<div class="container-login100-form-btn">
							<button class="login100-form-btn" type="submit">Login</button>
						</div>
	
						<div class="text-center p-t-136">
							<p>Don't have an account?
								<a class="txt2" href="/register">Register here
									<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
								</a>
							</p>
						</div>
					</form>
			</div>
		</div>
	</div>
	<footer class="bg-primary text-white text-center p-3">
        <div class="footer-content">
            <p>&copy; 2024 Izbassar Orynbassar</p>
            <p>SE-2202</p>
            <div>
                <a href="your-website-url" class="btn btn-outline-light btn-sm">Website</a>
                <a href="your-app-url" class="btn btn-outline-light btn-sm">App</a>
                <a href="https://instagram.com/yourusername" class="btn btn-outline-light btn-sm">Instagram</a>
                <a href="https://t.me/yourusername" class="btn btn-outline-light btn-sm">Telegram</a>
            </div>
            <div>
                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#infoModal"><%= translations.moreInfo %></button>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Here you can add additional information about the BMI Calculator, health tips, contact information, or other relevant content.
                </div>
            </div>
        </div>
    </div>
	
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/select2/select2.min.js"></script>
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script src="js/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/main.js"></script>
    <script>
        function changeLanguage(selectedLanguage) {
            window.location = `/?lang=${selectedLanguage}`;
        }
    </script>    
</body>
</html>