<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        header, footer {
            background-color: #007bff;
            color: white;
        }
        footer {
            width: 100%;
            height: auto; 
            background-color: #007bff;
            color: white;
            text-align: center;
        }
        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
	<nav class="navbar">
        <div class="join-box">
            <p class="join-msg"><%= translations.joinMessage %></p>

            <select name="language" id="language" onchange="changeLanguage(this.value)">
                <option value="en" <%= language === 'en' ? 'selected' : '' %>>English</option>
                <option value="ru" <%= language === 'ru' ? 'selected' : '' %>>Russian</option>
            </select>

            <button class="btn" onclick="location.href='/blog'"><%= translations.blog %></button>

            <button class="btn join-btn" onclick="location.href='/register'"><%= translations.joinNow %></button>
        </div>
    </nav>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
					<form action="/login" method="post">
                        <div class="login100-pic js-tilt" data-tilt>
                            <img src="images/img-01.png" alt="IMG">
                        </div>
        
                        <span class="login100-form-title">
                            Member Login
                        </span>

                        <% if (typeof message !== 'undefined') { %>
                            <div class="alert alert-danger">
                              <%= message %>
                            </div>
                        <% } %>

						<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
							<input class="input100" type="text" name="username" placeholder="<%= translations.username %>" required>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</span>
						</div>
	
						<div class="wrap-input100 validate-input" data-validate = "Password is required">
							<input class="input100" type="password" name="password" placeholder="<%= translations.password %>" required>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
						</div>

                        <div class="container mt-4">
                            <div class="alert alert-info" role="alert">
                                <strong>Admin Access:</strong> Use username <code>admin</code> and password <code>admin123</code> for administrator login.
                            </div>
                        </div>
						
						<div class="container-login100-form-btn">
							<button class="login100-form-btn" type="submit">Login</button>
						</div>
	
						<div class="text-center p-t-136">
							<p>Don't have an account?
								<a class="txt2" href="/register">Register here
									<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
								</a>
							</p>
						</div>
					</form>
			</div>
		</div>
	</div>
	<footer class="bg-primary text-white text-center p-3">
        <div class="footer-content">
            <p>&copy; 2024 Izbassar Orynbassar</p>
            <p>SE-2202</p>
            <div>
                <a href="your-website-url" class="btn btn-outline-light btn-sm">Website</a>
                <a href="your-app-url" class="btn btn-outline-light btn-sm">App</a>
                <a href="https://instagram.com/yourusername" class="btn btn-outline-light btn-sm">Instagram</a>
                <a href="https://t.me/yourusername" class="btn btn-outline-light btn-sm">Telegram</a>
            </div>
            <div>
                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#infoModal"><%= translations.moreInfo %></button>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Here you can add additional information about the BMI Calculator, health tips, contact information, or other relevant content.
                </div>
            </div>
        </div>
    </div>
	
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/select2/select2.min.js"></script>
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script src="js/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function changeLanguage(selectedLanguage) {
            window.location = `/?lang=${selectedLanguage}`;
        }
    </script>    
</body>
</html>